/* base styles */
body {
    font-family: 'Inter Tight', sans-serif;
    color: #FBFBFB;
    /* плавная прокрутка */
    scroll-behavior: smooth;
}

/* reset styles */
ul, ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
p {
    margin: 0;
  }
button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}
address {
    font-style: normal;
}
/* common styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.hide {
    display: none;
}
.container {
    /* background: #576F35; */
    /* margin-left: 100px;
    margin-right: 100px; */
    /* padding: 0 100px; */
    max-width: 320px;
    padding: 0 20px;
    margin: 0px auto;
    
    outline: 1px solid red;
    outline-offset: -1px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
.header,
.hero,
.works {
    background-color: #576F35;
}
.vegetables,
.order,
.footer {
    background-color: #7A3145;
}

.header-btn,
.vegetables-btn { 
    font-size: 18px;
    line-height: 1.11;
}
.header-btn,
.vegetables-btn {
    letter-spacing: -0.015em;
}
.header-btn,
.vegetables-btn {
    font-weight: 700;
} 
.header-btn,
.vegetables-btn {
    text-transform: uppercase;
}
.accent,
.works-item-accent,
.advertisement-desc,
.vegetables-text,
.reviews-subject,
.reviews-desc,
.reviews-item-captain {
    color: #141414;
}
.works-captian-accent,
.vegetables-subject-accent,
.order-subject-accent {
    color: rgba(251, 251, 251, 0.30);
}
.header-btn,
.vegetables-btn {
    display: block;
    padding: 16px 32px;
    border-radius: 30px;
    border: 1px solid transparent;
}
.header-btn:hover,
.header-btn:focus,
.vegetables-btn:hover,
.vegetables-btn:focus {
    background-color: #622133;
}
.header-btn:active,
.vegetables-btn:active {
    background-color: #FBFBFB;
    color: #7A3145;
}

/* header */
.header {
    padding-top: 20px;
}
.header-nav-logo-btn {
    display: flex;
    align-items: center;
}
.logo-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-right: auto;
}
.logo-icon,
.logo-text {
    fill: #FBFBFB;
}
.menu-btn-open {
}
.btn-open-icon {
    stroke: #FBFBFB;
}
.header-nav-list {
    display: none;
}
.header-nav-item {
}
.header-btn {
    display: none;
}
.header-btn:active {
    /* border: 1px solid rgba(251, 251, 251, 0.20); */
}
@media only screen and (min-width: 768px) {
    .header {
        padding-top: 32px;
    }
    .btn-open-icon {
        width: 40px;
        height: 40px;
    }
}
@media only screen and (min-width: 1280px) {
    .header,
    .hero {
        background-image: url(..//images/2_hero/image_1.jpg);
        
        background-image: linear-gradient(rgba(20, 20, 20, 0.20), rgba(20, 20, 20, 0.20)), url(../images/2_hero/image_1.jpg);
        background-position: top right;
        background-repeat: no-repeat;
        background-attachment: local;
        /* background-attachment: fixed; */
        background-size: calc(100% / 2);
    
        /* background-size: 50.0%;
        background-size: 650px 800px; */
    }
    .header-container {
        position: relative;
    }
    .menu-btn-open {
        display: none;
    }
    .header-nav-list { 
        display: flex;
        gap: 8px;
        margin-right: 20px;
    }
    .header-nav-item {
        display: flex;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid rgba(251, 251, 251, 0.20);
    }
    .header-nav-link {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;    
        letter-spacing: -0.02em;
    }
    .header-btn {
        display: block;
        background-color: #7A3145;
    }
}

/* mobile menu */
.menu.is-open {
    /* transform: translateX(0);  
    visibility: visible;
    opacity: 1;  */
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    min-height: 812px;
    /* max-width: 375px; */
    /* width: 100%; */
    /* height: 100%; */

    background-color: #7A3145;
    padding-top: 240px;
    padding-bottom: 40px;
    /* padding: 240px 130px 40px; */

    /* transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

    visibility: hidden;
    opacity: 0;
}
@media only screen and (min-width: 375pxpx) {
  .menu {
    width: 375px;
    }
}   
.menu-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu-btn-icon {
    stroke: #FBFBFB;
}
.menu-list {
    margin: auto;
}
.menu-item {
    width: 115px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.40);
    /* margin-left: auto;
    margin-right: auto; */
}
.menu-item:not(:last-child) {
    margin-bottom: 8px;
}
.menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.menu-btn {  
}

/* hero section */
.hero {
    padding-top: 48px;
    padding-bottom: 40px;
}
.hero-container {
}
.hero-title {
    max-width: 335px;
    margin-bottom: 20px;

    font-size: 48px;
    font-weight: 600;
    line-height: 1.00;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}
.hero-desc {
    max-width: 335px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero-title {
        max-width: 704px;
        margin-bottom: 25px;
        font-size: 76px;
    }
    .hero-desc {
        max-width: 603px;
        font-size: 16px;
        line-height: 1.25;
    }
}
@media only screen and (min-width: 1280px) {
    .hero {
        padding-top: 154px;
    }
    .hero-title {
        max-width: 502px;
        margin-bottom: 128px;
    }
    .hero-desc {
        max-width: 472px;
    }
    /* .hero-img {
        position: absolute;
        top: 0;
        right: 350px;
    } */
}
/* how it works section */
.works {
}
.works-container {
}
.works-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.works-left-side {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7A3145;
}
.works-right-side {
    padding-top: 80px;
    padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
    .works-left-side,
    .works-right-side {
        padding-top: 100px;
        padding-bottom: 100px;   
    }
    .works-left-side {
        padding-left: 64px;
        padding-right: 64px;
    }
    .works-right-side {
        padding-left: 159px;
        padding-right: 159px;
    }
    .works-img {
    width: 640px;
    height: 640px;
    }
}
.works-captain {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.00;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    margin-bottom: 20px;
}
.works-captian-accent {
}
.works-desc {
    font-size: 14px;   
    font-weight: 500;
    line-height: 1.29;
    
    margin-bottom: 40px;
}
.works-item:not(:last-child) {
    margin-bottom: 20px;
}
.works-list {
    max-width: 335px;
}
.works-item {
    display: flex;
    gap: 24px;
    align-items: center;
  
    color: rgba(20, 20, 20, 0.6);
    background-color: #FBFBFB;
    padding: 12px 27px 12px 24px;
    border-radius: 15px;
}
ol {
    counter-reset: item;
}
.works-item::before {
   content: counter(item) '';
   counter-increment: item;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;

   width: 52px;
   height: 52px;
   background-color: #7A3145;
   padding: 11px;
   border-radius: 50%;
   border: 5px solid rgb(245 215 223 / 71%);

   color: #FBFBFB;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.00;
   letter-spacing: -0.02em;
}
.works-item-desc {
    font-size: 12px;     
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
    .works-captain {
        font-size: 32px;
        letter-spacing: -0.015em;

        margin-bottom: 25px;
    }
    .works-desc {
        font-size: 16px;
        line-height: 1.25;
    
        margin-bottom: 50px;
    }
    .works-list {
        max-width: 450px;
    }
    .works-item-desc {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.015em;
    }
}
@media only screen and (min-width: 1280px) {
    .works {
    
    }
    .works-wrapper {
        flex-wrap: nowrap;
    }
    .works-left-side,
    .works-right-side {
     padding-left: 100px;
     padding-right: 100px;
        width: 50%;
    }

    .works-img {
        width: 430px;
        height: 640px;
    }
    .works-right-side {
        
    }
    .works-item {
        gap: 10px;
        padding: 12px 24px 12px 24px;
    }
}

/* discounts section */
.discounts {
  padding-top: 80px;
  padding-bottom: 80px;
}
.discounts-container {
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.discounts-desc {
  max-width: 335px;
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.discounts-desc-accent {
  display: block;
  max-width: 355px;
  color: #FBFBFB;
  border-radius: 12px;
  background-color: #576F35;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  .discounts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .discounts-container {
}
.discounts-desc {
    max-width: 704px;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.09;
  }
  .discounts-desc-accent {
    max-width: 736px;
    margin: -8px -16px 0px;
    padding: 8px 16px 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .discounts-container {
}
.discounts-desc {
    max-width: 1054px;
    font-size: 76px;
    line-height: 1.05;
    padding-right: 13px;
  }
  .discounts-desc-accent {
    max-width: 808px;
    display: inline;
    margin-right: 8px;
    width: 77%;
    padding: 0 13px;
    padding-right: 0;
  }
}

/* vegetables section */
.vegetables {
    padding-top: 80px;
    padding-bottom: 80px;
}
.vegetables-container {

}
.vegetables-subject {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    /* max-width: 335px; */
    margin-bottom: 20px;
}
.vegetables-subject-accent {
}
.vegetables-wrapper {
    margin-bottom: 40px;
    /* display: flex;
    margin-bottom: 50px;
    align-items: center; */
}
.vegetables-desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;

    margin-bottom: 20px;
    /* width: 626px;
    margin-right: auto; */
}
.vegetables-btn {
    border: 1px solid rgba(251, 251, 251, 0.20);
}
.vegetables-item {
    background-color: #FBFBFB;
    max-width: 334px;
    max-height: 379px;
    padding: 32px 26px;
    border-radius: 40px;
}
.vegetables-item:not(:last-child) {
    margin-bottom: 20px;
}
.vegetables-captain {
    color: #7A3145;
    margin-bottom: 12px;
    /* font-size: 32px; */
}
.vegetables-text {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 10px;
}
.vegetables-img {
/*   для чего?  
    background-color: url(<path-to-image>), lightgray 7.273px 5.599px / 95.673% 95.391% no-repeat; */
}
@media only screen and (min-width: 768px) {
    .vegetables {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .vegetables-subject {
        font-size: 64px; 
        line-height: 1.00;
        max-width: 508px;
        margin-bottom: 50px;
    }
    .vegetables-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .vegetables-desc {
        font-size: 16px;
        line-height: 1.25;
        width: 500px;
        margin-bottom: 0;
        /* margin-right: auto; */
    }
    .vegetables-list {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 20px;
        justify-content: space-around;
    }
    .vegetables-item {
        width: calc((100% - 20px * 1) / 2);
        height: 392px;
        /* padding: 32px; */
    }
    .vegetables-item:not(:last-child) {
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 1280px) {
    .vegetables-list {
        gap: 28px 21px;
    }
    .vegetables-item {
        width: calc((100% - 20px * 2) / 3);
        height: 379px;
        padding: 32px;
        }
}

/* rewievs section */
.reviews {
    background-color: #FBFBFB;
    padding-top: 80px;
    padding-bottom: 80px;
}
.reviews-container {
}
.reviews-subject {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;

    margin-bottom: 20px;
}
.reviews-subject-accent {
    color: #576F35;
}
.reviews-desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 40px;
}
.reviews-slider { 
}
.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /* ? */
    /* overflow: hidden; */
}
.reviews-item {
    padding: 20px 16px;
    border-radius: 24px;
    border: 1px solid rgba(122, 49, 69, 0.30);
    /* width: calc((100% - 25px * 2) / 3); */
}
.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
    display: none;
}
.reviews-item-avatar {
    display: block;
    max-width: 56px;
    border-radius: 100px;
    background-color: url(<path-to-image>), 
    lightgray 50% / cover no-repeat, 
    #E0E0E0;
    margin: 0 auto;
    margin-bottom: 24px;
}
.reviews-item-captain {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;

    margin-bottom: 8px;
}
.reviews-item-desc {
    color: rgba(20, 20, 20, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}
@media only screen and (min-width: 768px) {
    .reviews {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .reviews-subject {
        max-width: 553px;
        font-size: 64px;
        line-height: 1.00;
        margin-bottom: 25px;
    }
    .reviews-desc {
        max-width: 553px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 50px;
    }
    .reviews-list {
    }
    .reviews-item {
        padding: 20px;
        width: calc((100% - 18px * 1) / 2);
    }
    .reviews-item:nth-child(2) {
        display: block;
    }
    .reviews-item:nth-child(3) {
        display: none;
    }
    .reviews-item-captain {
       font-size: 18px;
       line-height: 1.10;
   }
   .reviews-item-desc {
       font-size: 16px;
       line-height: 1.4;
   }
}

/* your order section */
.order {
}
.order-container {
}
.order-subject {
    max-width: 751px;
}
.order-subject-accent {
}
.order-desc {
    max-width: 742px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.order-wrapper {
    display: flex;
    gap: 24px;
}
.order-left-side {
    background-color: #FBFBFB;
    border-radius: 30px;
    padding: 50px
}
.order-form-captain {
    color: #141414;
    font-family: "Inter Tight";
    font-size: 24px;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: -0.015em;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.form-captain-accent {}
.burgundy {
    color: #7A3145;
}
.green {
    color: #576F35;
}
.order-form {}

.order-form-label {
}
.order-form-input,
.order-form-textarea {
    width: 100%;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid rgba(20, 20, 20, 0.20);
    margin-bottom: 15px;
    outline: transparent;
}
.order-form-input:focus,
.order-form-textarea:focus {
    border-color: #7A3145;
}
.order-form-input::placeholder,
.order-form-textarea::placeholder {
    color: #141414;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 125% */
        letter-spacing: -0.32px;
}
.order-form-input:not(:placeholder-shown):valid {
   border-color: #3CBC81;
}
.order-form-input:not(:placeholder-shown):invalid {
    border-color: #E74A3B;
}
/* перебивание голубого фона при автозаполнении */
.order-form-input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

.order-form-textarea {
    height: 95px;
    border-radius: 15px;
    resize: none;
}
.order-form-btn {
    padding: 16px 191px;
    border-radius: 30px;
    border: transparent;
    background-color: #576F35;

    /* color: #FBFBFB;  */
    font-family: "Inter Tight";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 111.111% */
    letter-spacing: -0.27px;
    text-transform: uppercase;
}
.order-form-btn:hover,
.order-form-btn:focus {
    background: #7A3145;
}
.order-right-side {
    background-color: #576F35;
    display: flex;
    border-radius: 30px;
    padding: 50px;
    flex-wrap: wrap;
    width: 527px;
}
.order-img {
}
.order-social-desc {
    color: rgba(251, 251, 251, 0.50);
    margin-top: 50px;
    margin-bottom: 15px;
}
.order-social-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.order-social-item {
}
.order-social-link {
   
}
/* footer */
.footer {
}
.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-top {
    display: flex;
}
.footer-logo-slogan {
    display: flex;
    flex-direction: column;
}
.footer-logo-text {
}
.footer-slogan {
    max-width: 265px;
    margin-top: 26px;
}
.footer-menu-list {
    margin: auto;
}
.footer-menu-item {
    margin-bottom: 25px;
}
.footer-menu-item:nth-child(3) {
    margin-bottom: 0px;
}
.footer-menu-link {
}
.footer-address {
    max-width: 215px;
}
.footer-address-list {
}
.footer-address-item {
    margin-bottom: 25px;
}
.footer-address-item:nth-child(2) {
    margin-bottom: 0px;
}
.footer-address-link {
}
.footer-bottom {
    display: flex;
    margin-top: 125px;
}
.footer-bottom-wrapper-primary {
    display: flex;
    gap: 8px;
    margin-right: auto;
}
.footer-bottom-desc {
    color: rgba(251, 251, 251, 0.50);
}