/* base styles */
body {
    background-color:  #FBFBFB;
    font-family: "Studio Pro", sans-serif;
    color: #FBFBFB;

}

/* reset styles */
ul,
ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
p {
    margin: 0;
  }
button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}
address {
    font-style: normal;
}
/* common styles */
.container {
    /* background: #576F35; */
    /* margin-left: 100px;
    margin-right: 100px; */
    /* padding: 0 100px; */
    width: 1280px;
    padding: 0px 100px;
    margin: 0px auto;

    outline: 1px solid red;
    outline-offset: -1px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.header-container,
.hero-container,
.works-right-side {
    background-color: #576F35;
}
.advertisement-container,
.reviews-container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.vegetables-container,
.order-container,
.footer-container {
    background-color: #7A3145;
}
.vegetables-container,
.order-container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.header-nav-link,
.hero-desc,
.works-desc,
.works-item,
.vegetables-desc,
.reviews-desc,
.reviews-item-captain,
.reviews-item-desc,
.order-desc,
.footer-slogan {
    letter-spacing: -0.02em;
}
.header-nav-link,
.hero-desc,
.works-desc,
.works-item,
.vegetables-desc,
.reviews-desc,
.order-desc,
.footer-slogan {
    line-height: 1.25;
}
.header-nav-link,
.reviews-item-captain,
.reviews-item,
.reviews-item-desc {
     /* выравнивание от края */
     text-align: center;
}
.header-nav-link,
.works-item {
    font-size: 16px;
    font-weight: 400;
}
.header-btn,
.vegetables-btn,
.reviews-captain,
.reviews-item-captain,
.order-social-desc,
.footer-address-link,
.footer-bottom-desc {
    font-size: 18px;
    line-height: 1.11;
}
.header-btn,
.hero-title,
.works-captain,
.advertisement-desc,
.vegetables-subject,
.vegetables-captain,
.vegetables-btn,
.vegetables-text,
.reviews-captain,
.reviews-captain,
.reviews-subject,
.order-subject
.order-social-link,
.order-social-desc,
.order-social-text,
.footer-address-link,
.footer-menu-link,
.footer-bottom-desc {
    letter-spacing: -0.015em;
}
.header-btn,
.advertisement-desc,
.vegetables-btn,
.vegetables-text,
.order-social-desc,
.order-social-text,
.order-social-link,
.footer-menu-link,
.footer-address-link {
    font-weight: 700;
}
.header-btn,
.hero-title,
.works-captain,
.advertisement-desc,
.vegetables-captain,
.vegetables-btn, 
.vegetables-subject,
.vegetables-text,
.reviews-subject,
.order-subject {
    text-transform: uppercase;
    /* все буквы большими */
}
.hero-title,
.advertisement-desc {
    font-size: 76px;
}
.works-captain,
.vegetables-captain,
.order-social-link,
.order-social-text,
.footer-menu-link {
    font-size: 32px;
}
.hero-title,
.works-captain,
.vegetables-subject,
.vegetables-captain,
.reviews-subject,
.order-subject,
.order-social-link,
.order-social-text,
.footer-menu-link {
    line-height: 1.00;
}
.vegetables-subject,
.reviews-subject,
.order-subject {
    font-size: 64px;
}
.accent,
.works-item-accent,
.advertisement-desc,
.vegetables-text,
.reviews-subject,
.reviews-desc,
.reviews-item-captain {
    color: #141414;
}
.works-captian-accent,
.vegetables-subject-accent,
.order-subject-accent {
    color: rgba(251, 251, 251, 0.30);
}
.header-btn,
.vegetables-btn {
    display: block;
    padding: 16px 32px;
    border-radius: 30px;
    border: 1px solid transparent;
}
.header-btn:hover,
.header-btn:focus,
.vegetables-btn:hover,
.vegetables-btn:focus {
    background-color: #622133;
}
.header-btn:active,
.vegetables-btn:active {
    background-color: #FBFBFB;
    color: #7A3145;
}

/* header */
.header {
}
.header-container {
}
.header-nav {
    display: flex;
    align-items: center;
    padding: 28px 0px;
    /* margin-top: 28px; */
}
.header-nav-logo {
    display: inline-flex;
    margin-right: 370px;
    align-items: center;
    gap: 8px;
}
.header-logo-icon {
}
.header-logo-text {
}
.header-nav-list {
    display: flex;
    gap: 8px;
    margin-right: auto;
}
.header-nav-item {
    display: flex;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
}
.header-nav-link {}

.header-btn {
    background-color: #7A3145;
}
.header-btn:active {
    border: 1px solid rgba(251, 251, 251, 0.20);
}

/* hero section */
.hero {
}
.hero-container {
    padding-top: 148px;
}
.hero-title {
   max-width: 502px;
   /* margin-top: 168px; */
   margin-bottom: 136px;
}
.hero-desc {
    max-width: 472px;
    padding-bottom: 50px;
    /* margin-bottom: 50px; */
}

/* how it works section */
.works {
}
.work-container {
    padding-left: 0px;
    padding-right: 0px;
}
.works-wrapper {
    display: flex;
}
.works-left-side {
    background-color: #7A3145;
    padding: 80px 100px;
}
.works-img {
}
.works-right-side {
    padding: 100px 100px 201px 50px;
}
.works-captain {
    margin-bottom: 25px;
}
.works-captian-accent {
}

.works-desc {
    margin-bottom: 50px;
}
.works-list {
}
.works-item {
    display: flex;
    color: rgba(20, 20, 20, 0.6);
    background-color: #FBFBFB;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
}
.works-item-number {
    /* width: 52px;
    height: 52px; */
    border: 5px solid  rgba(122, 49, 69, 0.30);
    border-radius: 50%;
    margin: 12px 24px;
}
.number {
    display: block;
    width: 42px;
    height: 42px;
    color: #FBFBFB;
    padding: 11px 14px;
    border-radius: 50%;
    background-color:  #7A3145;
    
    font-size: 20px;
    font-weight: 700;
    line-height: 1.00;
    letter-spacing: -0.02px;
    text-align: center;
}
.works-item-accent {
}

/* advertisement section */
.advertisement {
}
.advertisement-container {
}
.advertisement-desc {
    line-height: 1.05;
}
.advertisement-desc-accent {
    margin-left: -14px;
    padding-left: 14px;
    margin-right: 5px;
    border-radius: 12px;
    background-color: #576F35;
    color: #FBFBFB;
}
/* vegetables section */
.vegetables {
}
.vegetables-container {
}
.vegetables-subject {
    width: 508px;
    margin-bottom: 25px;
}
.vegetables-subject-accent {
}
.vegetables-wrapper {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.vegetables-desc {
    width: 626px;
    margin-right: auto;
}
.vegetables-btn {
    border: 1px solid rgba(251, 251, 251, 0.20);
}
.vegetables-list {
    display: flex;
    gap: 28px 18px;
    flex-wrap: wrap;

}
.vegetables-item {
    background-color: #FBFBFB;
    width: calc((100% - 18px * 2) / 3);
    height: 392px;
    padding: 32px;
    border-radius: 40px;
}
.vegetables-captain {
    color: #7A3145;
    margin-bottom: 12px;
    /* font-size: 32px; */
}
.vegetables-text {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 10px;
}
.vegetables-img {
/*   для чего?  
    background-color: url(<path-to-image>), lightgray 7.273px 5.599px / 95.673% 95.391% no-repeat; */
}
/* rewievs section */
.reviews {
    background-color: #FBFBFB;
    /* margin: 100px 0px; */
}
.reviews-container {
}

.reviews-subject {
    max-width: 553px;
    margin-bottom: 25px;
}
.reviews-subject-accent {
    color: #576F35;
}
.reviews-desc {
    width: 547px;
    margin-bottom: 50px;
}
.reviews-list {
    display: flex;
    gap: 25px;
    
}
.reviews-item {
    width: calc((100% - 25px * 2) / 3);
    padding: 20px;
    border-radius: 24px;
    border: 1px solid rgba(122, 49, 69, 0.30);
}
.reviews-item-avatar {
    max-width: 56px;
    border-radius: 100px;
    background-color: url(<path-to-image>), 
    lightgray 50% / cover no-repeat, 
    #E0E0E0;
}
.reviews-item-captain {
    margin-top: 24px;
    margin-bottom: 8px;
}
.reviews-item-desc {
    color: rgba(20, 20, 20, 0.40);
    line-height: 1.40;
    max-width: 288px;
}

/* your order section */
.order {
}
.order-container {
}
.order-subject {
    max-width: 751px;
}
.order-subject-accent {
}
.order-desc {
    max-width: 742px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.order-wrapper {
    display: flex;
}
.order-left-side {
    display: flex;
    background-color: #FBFBFB;
    border-radius: 30px;
    padding: 50px;
    margin-right: auto;
}
.order-form {
    max-width: 528px;
}
.form-btn {
}
.order-right-side {
    background-color: #576F35;
    display: flex;
    border-radius: 30px;
    padding: 50px;
    flex-wrap: wrap;
    width: 527px;
}
.order-img {
}
.order-social-desc {
    color: rgba(251, 251, 251, 0.50);
    margin-top: 50px;
    margin-bottom: 15px;
}
.order-social-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.order-social-item {
}
.order-social-link {
   
}
/* footer */
.footer {
}
.footer-container {
    padding-bottom: 25px;
}
.footer-top {
    display: flex;
}
.footer-logo-icon {
}
.footer-logo-text {
}
.footer-slogan {
    max-width: 265px;
    margin-top: 26px;
}
.footer-menu-list {
    margin: auto;
}
.footer-menu-item {
    margin-bottom: 25px;
}
.footer-menu-item:nth-child(3) {
    margin-bottom: 0px;
}
.footer-menu-link {
}
.footer-address {
    max-width: 215px;
}
.footer-address-list {
}
.footer-address-item {
    margin-bottom: 25px;
}
.footer-address-item:nth-child(2) {
    margin-bottom: 0px;
}
.footer-address-link {
}
.footer-bottom {
    display: flex;
    margin-top: 125px;
}
.footer-bottom-wrapper-primary {
    display: flex;
    gap: 8px;
    margin-right: auto;
}
.footer-bottom-desc {
    color: rgba(251, 251, 251, 0.50);
}